* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* HEADER */
header {
    background-color: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    background: linear-gradient(to right, #000, #444);
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}

/* CONTAINER */
.container {
    padding: 40px;
}

/* PRODUK */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.product {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.product button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #111;
    color: white;
    border: none;
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}
